* {
    font-family: 'Montserrat', sans-serif;
}

.links {
    color: white !important;
}

.nav_bar {
    background-color: #2c3e50;
    border: none;
    border-radius: 0;
    color: white;
    font-weight: 700;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.collapsed_btn {
    background-color: #1abc9c;
    color: white;
    border: none;
}

.nav_title {
    color: white !important;
}

.jumbo {
    border-radius: 0 !important;
    background-color: #1abc9c;
    color: white;
    text-align: center;
}

.jumbo img {
    height: 200px;
    margin-top: 60px;
}

.jumbo h1 {
    font-weight: 700 !important;
}

.star_element {
    padding-bottom: 25px;
}

.star_element i {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.star_element hr {
    display: inline-block;
    height: 2px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    transform: translateY(7px);
    border: none;
}


/* .prova {
    width: 100%;
    height: 100%;
    margin: 0 auto;
} */

.col_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.row_edit>div {
    margin-bottom: 30px;

}

/* .green_layer {
    height: 100%;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    background-color: #29b096;
    position: absolute;
    top: 0;
    left: 0;

}

.row_edit div:hover {
} */

.row .star_element {
    color: #2c3e50;
}
.row .star_element hr {
    background-color:  #2c3e50;
}


@media screen and (max-width: 420px) {
    .star_element hr {
        width: 15%;
    }
}

@media screen and (min-width:420px) and (max-width: 767px) {
    .row_edit {
        width: 400px;
        margin: 0 auto;
}
